<div class="sideNavBar-container">
  <antra-sidenavbar
    containerClass="sidenav-container"
    sideNavBackground="url('https://picsum.photos/600/600?random=1')"
    sideNavTextColor="#7fff00"
    [isOpen]="isOpen"

    [sideNavConfig]="sideNavConfig"
    (listOptionClicked)="getClickEventFromSideNav($event)"
  >

    <div class="sideNav-content-container">
      <button type="button" mat-raised-button (click)="toggleSideNav()">Toggle sidenav</button>
      <h1 *ngIf="optionInSideNav !== ''">{{ optionInSideNav }} be clicked.</h1>
      <h1 *ngIf="optionInSideNav === ''">Select an optione.</h1>
      <router-outlet></router-outlet>
    </div>

  </antra-sidenavbar>
</div>