<div class="example-content">
  <h4>Default Style:</h4>
  <div class="status-circle-container-1">
    <antra-status-circle></antra-status-circle>
    <antra-status-circle [percentage]="50"></antra-status-circle>
    <antra-status-circle [percentage]="75"></antra-status-circle>
    <antra-status-circle [percentage]="100"></antra-status-circle>
  </div>
  <h4>Customized Style:</h4>
  <div class="status-circle-container-2">
    <antra-status-circle [radius]="8" class="customized-1"></antra-status-circle>
    <antra-status-circle [percentage]="50" [radius]="8" class="customized-1"></antra-status-circle>
    <antra-status-circle [percentage]="75" [radius]="8" class="customized-1"></antra-status-circle>
    <antra-status-circle [percentage]="100" [radius]="8" class="customized-1"></antra-status-circle>
  </div>
  <br /><br />
  <div class="status-circle-container-3">
    <antra-status-circle [radius]="11" class="customized-2"></antra-status-circle>
    <antra-status-circle [percentage]="50" [radius]="11" class="customized-2"></antra-status-circle>
    <antra-status-circle [percentage]="75" [radius]="11" class="customized-2"></antra-status-circle>
    <antra-status-circle [percentage]="100" [radius]="11" class="customized-2"></antra-status-circle>
  </div>
</div>
