<div class="example-content">
  <h4>Default Style:</h4>
  <div class="progress-circle-container-1">
    <antra-progress-spinner></antra-progress-spinner>
    <antra-progress-spinner [percentage]="50"></antra-progress-spinner>
    <antra-progress-spinner [percentage]="75"></antra-progress-spinner>
    <antra-progress-spinner [percentage]="100"></antra-progress-spinner>
  </div>
  <h4>Customized Style:</h4>
  <div class="progress-circle-container-2">
    <antra-progress-spinner [radius]="25" class="customized"></antra-progress-spinner>
    <antra-progress-spinner [percentage]="50" [radius]="25" class="customized"></antra-progress-spinner>
    <antra-progress-spinner [percentage]="75" [radius]="25" class="customized"></antra-progress-spinner>
    <antra-progress-spinner [percentage]="100" [radius]="25" class="customized"></antra-progress-spinner>
  </div>
</div>
