<div class="example-content">
  <table>
    <tr>
      <td>
        <antra-change-password
          class="default"
          [passwordPattern]="passwordPattern"
          [userName] = "userName1"
          [emailAddress]="emailAddress1"
          [passwordValidationMessage]="passwordValidationMsg"
          [confirmPasswordValidationMessage]="confirmPasswordValidationMsg"
          (passwordResetActionEvent)="changePassword1($event)"
        ></antra-change-password>
      </td>
      <td>
        <antra-change-password
          class="customized"
          [passwordPattern]="passwordPattern"
          [userName] = "userName2"
          [emailAddress]="emailAddress2"
          [passwordValidationMessage]="passwordValidationMsg"
          [confirmPasswordValidationMessage]="confirmPasswordValidationMsg"
          (passwordResetActionEvent)="changePassword2($event)"
        ></antra-change-password>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <hr />
      </td>
    </tr>
    <tr>
      <td>
        <h2 class="text-center">
          {{ details1 }}
        </h2>
      </td>
      <td>
        <h2 class="text-center">
          {{ details2 }}
        </h2>
      </td>
    </tr>
  </table>
</div>
