<section class="example-container">
  <header><h2>Example</h2></header>
  <div class="example-content">
    <antra-button btnColor="primary" btnText="primary"></antra-button>
    <antra-button btnColor="accent" btnText="accent"></antra-button>

    <antra-button btnColor="warn" btnText="warn"></antra-button>

    <antra-button btnColor="error" btnText="error"></antra-button>

    <antra-button disabled btnText="disabled"></antra-button>
  </div>

  <mat-tab-group animationDuration="0ms" color="primary">
    <mat-tab label="html"> Content 1 </mat-tab>
    <mat-tab label="css">Content 2</mat-tab>
    <mat-tab label="ts">Content 3</mat-tab>
  </mat-tab-group>
</section>
