<section class="example-container">
  <header><h2>Example</h2></header>
  <div class="example-content">
    <antra-button btnColor="primary" btnText="primary"></antra-button>
    <antra-button btnColor="accent" btnText="accent"></antra-button>
    <antra-button btnColor="warn" btnText="warn"></antra-button>
    <antra-button btnColor="error" btnText="error"></antra-button>
    <antra-button disabled btnText="disabled"></antra-button>
  </div>

  <mat-tab-group animationDuration="0ms" color="primary">
    <mat-tab label="html"> 
      <pre><code [highlight]="htmlCode" [lineNumbers]="true"></code></pre>
    </mat-tab>
    <mat-tab label="css">
      <pre><code [highlight]="cssCode" [lineNumbers]="true"></code></pre>
    </mat-tab>
    <mat-tab label="ts">
      <pre><code [highlight]="tsCode" [lineNumbers]="true"></code></pre>
    </mat-tab>
  </mat-tab-group>
</section>
