<div class="app-container">
  <mat-toolbar class="app-header" color="primary">
    <button mat-icon-button (click)="toggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Antra-ui</span>
  </mat-toolbar>

  <antra-sidenavbar class="app-drawer-container" [sideNavConfig]="sideNavConfig" sideNavBackgroundColor=""
    sideNavSubMenuBackgroundColor="grey" [sideNavTextColor]="''" [sidenavMode]="'side'"
    sideNavBackgroundHighlightColor="grey"
    (listOptionClicked)="getClickEventFromSideNav($event)" [isOpen]="isOpen">
    <div class="sideNav-content-container">
      <router-outlet></router-outlet>
    </div>
  </antra-sidenavbar>
</div>