<section>
  <header>Raised Buttons</header>
  <antra-button
    btnType="raised"
    btnColor="primary"
    btnText="Raised Primary"
    (click)="btnClicked($event)"
  ></antra-button>
  <antra-button
    btnType="raised"
    btnColor="basic"
    btnText="Raised Basic"
  ></antra-button>
  <antra-button
    btnType="raised"
    btnColor="accent"
    btnText="Raised accent"
  ></antra-button>
  <antra-button
    btnType="raised"
    btnColor="warn"
    btnText="Raised warn"
  ></antra-button>
</section>
