::ng-deep .sidenav-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0;
  box-sizing: border-box;
}
.sideNavBar-container {
  padding-left: 10px;
  margin: 10px;
}
.sideNav-content-container {
  padding-left: 10px;
  margin-left: 250px;
}