<app-example-doc [htmlSource]="htmlSource" [scssSource]="scssSource" [tsSource]="tsSource">

  <antra-sidenavbar
    [containerClass]="'sidenav-container'"
    [sideNavConfig]="sideNavConfig" 
    (listOptionClicked)="getClickEventFromSideNav($event)"
    [isOpen]="isOpen"
  >
    <button type="button" mat-raised-button (click)="toggleSideNav()">Toggle sidenav</button>
    <h1 *ngIf="optionInSideNav !== ''">{{ optionInSideNav }} be clicked.</h1>
    <h1 *ngIf="optionInSideNav === ''">Select an optione.</h1>
    <router-outlet></router-outlet>
  </antra-sidenavbar>
</app-example-doc>
