<div class="example-content">
  <table>
    <tr>
      <td>
        <antra-password-reset
          class="default"
          [showLoginError]="showLoginError"
          [loginErrorMessage]="loginErrorMessage"
          [emailAddressValidationMessage]="emailAddressValidationMsg"
          (passwordResetActionEvent)="sendVerificationEmail1($event)"
        ></antra-password-reset>
      </td>
      <td>
        <antra-password-reset
          class="customized"
          [emailAddressValidationMessage]="emailAddressValidationMsg"
          (passwordResetActionEvent)="sendVerificationEmail2($event)"
        ></antra-password-reset>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <hr />
      </td>
    </tr>
    <tr>
      <td>
        <p class="text-center">
          {{ passwordResetActions | json }}
        </p>
      </td>
      <td>
        <p class="text-center">
          {{ details2 | json }}
        </p>
      </td>
    </tr>
  </table>
</div>
