<div class="example-content">
  <table>
    <tr>
      <td>
        <antra-password-reset
          class="default"
          [emailAddressValidationMessage]="emailAddressValidationMsg"
          (passwordResetActionEvent)="sendVerificationEmail($event)"
        ></antra-password-reset>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <hr />
      </td>
    </tr>
    <tr>
      <td>
        <h2 class="text-center">
          {{ details }}
        </h2>
      </td>
    </tr>
  </table>
</div>
