<div class="example-content">
  <antra-raised-button btnColor="primary" btnText="primary"></antra-raised-button>
  <antra-raised-button btnColor="accent" btnText="accent"></antra-raised-button>
  <antra-raised-button btnColor="warn" btnText="warn"></antra-raised-button>
  <antra-raised-button btnColor="error" btnText="error"></antra-raised-button>
  <antra-raised-button disabled btnText="disabled"></antra-raised-button>
  <antra-raised-button class="customized" btnText="customized"></antra-raised-button>
</div>
