<div style="display: flex; flex-direction: row">
  <article antraWidget style="height: 140px; width: 250px; background-color: #985633">
    <p>
      <span class="big">350</span> &nbsp;<span class="medium material-icons"> arrow_upward </span> <br />
      <span class="small">Total Active Employees</span>
    </p>
  </article>
  <article antraWidget style="height: 140px; width: 300px; background-color: #856400">
    <p>
      <span class="big">100</span> &nbsp;<span class="medium material-icons"> arrow_upward </span> <br />
      <span class="small">Total New Hires</span>
    </p>
  </article>
  <article antraWidget style="height: 180px; width: 200px; background-color: #128564">
    <p>
      <span class="big">14</span> &nbsp;<span class="medium material-icons"> arrow_upward </span> <br />
      <span class="small">Attrition Rate</span>
    </p>
  </article>
</div>
