<div class="container">
  <article antraWidget class="widget1">
    <p>customize style with className</p>
  </article>
  <article antraWidget style="height: 140px; width: 300px; background-color: #856400">
    <p>customize style with style attribute</p>
  </article>
  <article antraWidget style="height: 220px; width: 220px; display: flex; flex-wrap: wrap">
    <div antraWidget style="width: 80px; height: 80px; background-color: bisque">nested widgets</div>
    <div antraWidget style="width: 80px; height: 80px; background-color: bisque"></div>
    <div antraWidget style="width: 80px; height: 80px; background-color: bisque"></div>
    <div antraWidget style="width: 80px; height: 80px; background-color: bisque"></div>
  </article>
</div>
