<div style="display: flex; flex-direction: row">
  <article antraWidget>
    <p>
      <span class="big">350</span> &nbsp;<span class="medium material-icons"> arrow_upward </span> <br />
      <span class="small">Total Active Employees</span>
    </p>
  </article>
  <article antraWidget [width]="'300px'" [backgroundColor]="'#856400'">
    <p>
      <span class="big">100</span> &nbsp;<span class="medium material-icons"> arrow_upward </span> <br />
      <span class="small">Total New Hires</span>
    </p>
  </article>
  <article antraWidget [height]="'160px'" [backgroundColor]="'#128564'">
    <p>
      <span class="big">14</span> &nbsp;<span class="medium material-icons"> arrow_upward </span> <br />
      <span class="small">Attrition Rate</span>
    </p>
  </article>
  <article antraWidget [width]="'300px'" [height]="'180px'" [backgroundColor]="'#350564'">
    <p>
      <span class="big">14</span> &nbsp;<span class="medium material-icons"> arrow_upward </span> <br />
      <span class="small">Custom width, height and backgroundColor</span>
    </p>
  </article>
</div>
