<div class="example-content"> 
    <h4>Default without Text:</h4>
    <antra-logo  svgPath="/assets/svg/logo.svg" > </antra-logo>
    <h4>Default with Text:</h4>
    <antra-logo  svgPath="/assets/svg/logo.svg"  logoText="BRS"> </antra-logo> 
    <h4>Customize svg:</h4>
    <antra-logo svgPath="/assets/svg/logo.svg" class="customized-svg"  ></antra-logo>
    <h4>Customize text:</h4>
    <antra-logo svgPath="/assets/svg/logo.svg" class="customized-text"  logoText="BRS"></antra-logo>
    <h4>Customize all:</h4>
    <antra-logo svgPath="/assets/svg/logo.svg" class="customized-all-1"  logoText="BRS"></antra-logo>
    <h4>Customize all:</h4>
    <antra-logo svgPath="/assets/svg/google.svg" class="customized-all-2" logoText="Google"></antra-logo>     
</div>
  