/* You can add global styles to this file, and also import other style files */
// @import "antra-ui/lib/styles.scss";
@import '~highlight.js/styles/tomorrow-night-blue.css';

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  container */

.example-container {
  width: 100%;
  // height: 100%;
  padding: 20px;
  .example-content {
    padding: 10px 0;

    & h4{
      margin-bottom: 0px;
    }
  }
}
