<div class="example-content">
    <table>
      <tr>
        <td>
          <antra-password-reset-successful
            class="default"
            [successfulMessage] = "successfulMessage1"
          ></antra-password-reset-successful>
        </td>
        <td>
          <antra-password-reset-successful
            class="customized"
            [btnText]="btnText"
            [showRedirectButton]="true"
            [successfulMessage] = "successfulMessage2"
            (passwordResetSuccessfulEvent)="showActionDetails($event)"
          ></antra-password-reset-successful>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <hr />
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <h2 class="text-center">
            {{ details }}
          </h2>
        </td>
      </tr>
    </table>
  </div>
  