<div class="example-content">
    <h4>Default Style:</h4>
    <antra-global-search (notify)="handleNotify($event)"></antra-global-search>     
    <h4>Customized Styles:</h4>
    <antra-global-search placeholderText="Please type here..." class="customized-1" (notify)="handleNotify($event)"></antra-global-search>   
    <antra-global-search placeholderText="" class="customized-2" (notify)="handleNotify($event)"></antra-global-search>   
    <antra-global-search placeholderText="Search here..." class="customized-3" (notify)="handleNotify($event)"></antra-global-search>   
    <antra-global-search placeholderText="type..." class="customized-4" (notify)="handleNotify($event)"></antra-global-search>   
    <h4>Searched Text: {{searchedText}}</h4>
</div>
  