.example-content {
    padding: 10px 0;  
    & > * {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  .customized-1::ng-deep .input-properties { 
    border: 1px solid #1fe02e;
    border-radius: 12px;
    font: inherit;
    font-size: 14px;
    height: 30px;
    padding: 0px 18px;
    width: 290px;
  
    @media (max-width: 960px) {
          width: 100%;
    }
  } 

  .customized-2::ng-deep .input-properties { 
    border: 1px solid #f5092a;
    border-radius: 0px;
    font: inherit;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    padding: 0px 18px;
    width: 290px;

    @media (max-width: 960px) {
          width: 100%;
    }
  } 

  .customized-3::ng-deep .input-properties { 
    border: 1px solid orange;
    border-radius: 8px;
    font: inherit;
    font-size: 13px;
    font-weight: 500;
    height: 30px;
    padding: 0px 18px;
    width: 290px;
    
    @media (max-width: 960px) {
          width: 100%;
    }
  } 

  .customized-4::ng-deep .input-properties { 
    border: 1px solid #0014ff;
    border-radius: 16px;
    font: inherit;
    font-size: 16px;
    font-weight: 400;
    height: 30px;
    padding: 0px 18px;
    width: 290px;
    
    @media (max-width: 960px) {
          width: 100%;
    }
  } 
  
  
  