.example-content {
  padding: 10px 0;

  & > * {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.example1::ng-deep .form-container {
  background-color: lightgoldenrodyellow;
}

.example2::ng-deep .form-container {
  background-color: azure;
}

.example3::ng-deep .form-container {
  background-color: bisque;
}

.text-center {
  text-align: center;
}
