<div class="example-content">
  <table>
    <tr>
      <td>
        <antra-login
          class="default"
          [loginUsingOption]="true"
          [loginUsingGmail]="true"
          [loginUsingOffice365]="true"
          [emailAddressValidationMessage]="emailAddressValidationMsg"
          [passwordValidationMessage]="passwordValidationMsg"
          [passwordPattern]="passwordPattern"
          (loginActionEvent)="getActionNameOne($event)"
        ></antra-login>
      </td>
      <td>
        <!-- Default Password Pattern Validation Applied From Library -->
        <antra-login
          class="example2"
          [loginUsingOption]="true"
          [loginUsingGmail]="true"
          [emailAddressValidationMessage]="emailAddressValidationMsg"
          [passwordValidationMessage]="passwordValidationMsg"
          (loginActionEvent)="getActionNameTwo($event)"
        ></antra-login>
      </td>
    </tr>
    <tr>
      <td>
        <p class="text-center">
          {{ actionNameOne | json }}
        </p>
      </td>
      <td>
        <p class="text-center">
          {{ actionNameTwo | json }}
        </p>
      </td>
    </tr>
  </table>
  <hr />
  <table>
    <tr>
      <td>
        <!-- Default Password Pattern Validation Applied From Library -->
        <antra-login
          class="example3"
          [loginUsingOption]="true"
          [loginUsingOffice365]="true"
          [emailAddressValidationMessage]="emailAddressValidationMsg"
          [passwordValidationMessage]="passwordValidationMsg"
          (loginActionEvent)="getActionNameThree($event)"
        ></antra-login>
      </td>
      <td>
        <antra-login
          class="example1"
          [emailAddressValidationMessage]="emailAddressValidationMsg"
          [passwordValidationMessage]="passwordValidationMsg1"
          [passwordPattern]="passwordPattern1"
          (loginActionEvent)="getActionNameFour($event)"
        ></antra-login>
      </td>
    </tr>
    <tr>
      <td>
        <p class="text-center">
          {{ actionNameThree | json }}
        </p>
      </td>
      <td>
        <p class="text-center">
          {{ actionNameFour | json }}
        </p>
      </td>
    </tr>
  </table>
</div>
