<div class="example-content">
  <table>
    <tr>
      <td>
        <antra-login
          [loginUsingOption]="true"
          [loginUsingGmail]="true"
          [loginUsingOffice365]="true"
          [emailAddressValidationMessage]="emailAddressValidationMsg"
          [passwordValidationMessage]="passwordValidationMsg"
          (loginActionEvent)="getActionNameOne($event)"
        ></antra-login>
      </td>

      <td>
        <antra-login
          class="customized"
          [emailAddressValidationMessage]="emailAddressValidationMsg"
          [passwordValidationMessage]="passwordValidationMsg"
          (loginActionEvent)="getActionNameTwo($event)"
        ></antra-login>
      </td>
      <td>
        <antra-login
          class="customized1"
          [loginUsingOption]="true"
          [loginUsingGmail]="true"
          [emailAddressValidationMessage]="emailAddressValidationMsg"
          [passwordValidationMessage]="passwordValidationMsg"
          (loginActionEvent)="getActionNameThree($event)"
        ></antra-login>
      </td>
      <td>
        <antra-login
          class="customized2"
          [loginUsingOption]="true"
          [loginUsingOffice365]="true"
          [emailAddressValidationMessage]="emailAddressValidationMsg"
          [passwordValidationMessage]="passwordValidationMsg"
          (loginActionEvent)="getActionNameFour($event)"
        ></antra-login>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <hr />
      </td>
    </tr>
    <tr>
      <td>
        <h2 class="text-center">
          {{ actionNameOne }}
        </h2>
      </td>
      <td>
        <h2 class="text-center">
          {{ actionNameTwo }}
        </h2>
      </td>
      <td>
        <h2 class="text-center">
          {{ actionNameThree }}
        </h2>
      </td>
      <td>
        <h2 class="text-center">
          {{ actionNameFour }}
        </h2>
      </td>
    </tr>
  </table>
</div>
