.example-content {
  padding: 10px 0;

  & > * {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.customized::ng-deep .form-container {
  background-color: darkslategray;
  height: 320px;
}

.customized1::ng-deep .form-container {
  background-color: azure;
}
.customized1::ng-deep .btn-danger {
  width: 100%;
  position: absolute;
  right: 30px;
}

.customized2::ng-deep .form-container {
  background-color: bisque;
}
.customized2::ng-deep .form__button-right {
  width: 100%;
  position: absolute;
  left: 30px;
}

.text-center{
  text-align: center;
}