<div class="example-content">
  <table>
    <tr>
      <td>
        <h3>Example 1</h3>
        <antra-login
          class="default"
          [showLoginError]="showLoginError1"
          [loginErrorMessage]="loginErrorMessage1"
          [loginUsingOption]="true"
          [loginUsingGmail]="true"
          [loginUsingOffice365]="true"
          [emailAddressValidationMessage]="emailAddressValidationMsg"
          [passwordValidationMessage]="passwordValidationMsg"
          [passwordPattern]="passwordPattern"
          (loginActionEvent)="getActionNameOne($event)"
        ></antra-login>
      </td>
      <td>
        <h3>Example 2</h3>
        <!-- Default Password Pattern Validation Applied From Library -->
        <antra-login
          class="example2"
          [emailPlaceHolder]="placeholder"
          [loginUsingOption]="true"
          [loginUsingGmail]="true"
          [emailAddressValidationMessage]="emailAddressValidationMsg"
          [passwordValidationMessage]="passwordValidationMsg"
          (loginActionEvent)="getActionNameTwo($event)"
        ></antra-login>
      </td>
    </tr>
    <tr>
      <td>
        <p class="text-center">
          {{ actionNameOne | json }}
        </p>
      </td>
      <td>
        <p class="text-center">
          {{ actionNameTwo | json }}
        </p>
      </td>
    </tr>
  </table>
  <hr />
  <table>
    <tr>
      <td>
        <h3>Example 3</h3>
        <!-- Default Password Pattern Validation Applied From Library -->
        <antra-login
          class="example3"
          [loginUsingOption]="true"
          [loginUsingOffice365]="true"
          [emailAddressValidationMessage]="emailAddressValidationMsg"
          [passwordValidationMessage]="passwordValidationMsg"
          (loginActionEvent)="getActionNameThree($event)"
        ></antra-login>
      </td>
      <td>
        <h3>Example 4</h3>
        <antra-login
          class="example1"
          [showLoginError]="showLoginError2"
          [loginErrorMessage]="loginErrorMessage2"
          [emailPattern]="emailPattern"
          [emailAddressValidationMessage]="emailAddressValidationMsg"
          [passwordValidationMessage]="passwordValidationMsg1"
          [passwordPattern]="passwordPattern1"
          (loginActionEvent)="getActionNameFour($event)"
        ></antra-login>
      </td>
    </tr>
    <tr>
      <td>
        <p class="text-center">
          {{ actionNameThree | json }}
        </p>
      </td>
      <td>
        <p class="text-center">
          {{ actionNameFour | json }}
        </p>
      </td>
    </tr>
  </table>
</div>
