.example-content {
  padding: 10px 0;

  & > * {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.customized::ng-deep .progress-circle-properites {
  stroke-width: 6;
  stroke: orange;
}

.customized::ng-deep .progress-circle-1to50percent {
  stroke-width: 6;
  stroke: blue;
}

.customized::ng-deep .progress-circle-51to80percent {
  stroke-width: 6;
  stroke: green;
}

.customized::ng-deep .progress-circle-81to100percent {
  stroke-width: 6;
  stroke:yellow;
}

.customized::ng-deep circle { 
  fill: #53022b73; 
}

.customized::ng-deep .textStyle {
  font-family: 'Arial';  
  font-size:11px;
  font-weight: 600;
  fill:rgb(14, 13, 13);
}